/* 頭像懸停效果 */
.profile-image-container img {
    transition: transform 0.3s ease; /* 平滑變換 */
}

    .profile-image-container img:hover {
        transform: scale(1.05); /* 輕微放大 */
        box-shadow: 0 4px 15px rgba(0,0,0,0.1); /* 懸浮陰影 */
    }

/* 履歷字體微調 */
.font-monospace {
    color: #333; /* 深灰色 */
    font-size: 1.1rem; /* 字體大小 */
}
